/* .tab {
  display: 'flex';
  justify-content: 'flex-start';
  width: 252;
  height: 56;
  border-radius: 8;
  padding-top: 15;
  padding-bottom: 15;
  padding-right: 24;
  font-size: 18;
}

.active-tab {
  background-color: #ffb800;
} */
