.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.header {
  margin: 20px;
}

.body {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 20px;
  width: 1240px;
  padding: 20px;
}
